@tailwind base;
@tailwind components;

* {
    font-family: "spotify-circular", "Lato", sans-serif;
}

.w128 {
    width: 512px;
}

.h212 {
    height: 848px;
}

h5 {
    font-size: 14px;  /* or @apply text-sm */
}

.custom-shadow {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

.shadow-light {
    box-shadow: 0 0 7px hsl(0, 0%, 15%);
}

.shadow-lighter {
    box-shadow: 0px 0px 20px hsl(0, 0%, 40%);

}

.mix-panel {
    @apply w-64 h-16 rounded-md bg-blue-panel1 flex
}

.mix-panel:hover {
    cursor: pointer;
}

.album-panel {
    @apply w-40 h-56 py-4 bg-gray-home_tiles rounded-md flex flex-col justify-between items-center
}

.album:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: none;
}

a {
    text-decoration: none;
}

#emily:hover,
#controls i:hover {
    cursor: pointer;
}

#menu li {
    @apply h-8 pt-1.5 border-b border-gray-time_vol text-center
}
#menu li:last-of-type {
    border: none;
}
#menu li:hover {
    @apply bg-blue-dark_teal
}

/* Login styles */
#login:hover {
    cursor: pointer;
}

#login2:hover {
    @apply bg-gray-search_field text-white-basic
}

@tailwind utilities;